body {
    font-family: Arial, sans-serif;
    background-color: #d9cf9b;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #070807;
    color: rgb(246, 178, 178);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #070c07;
}

img {
    width: 200px; 
    height: auto; 
    padding: 10px 20px;
}
